.ghosty-dialogue {
	height: 156px;
	background-image: url('../images/hub/ghosty-dialogue.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.rectangle-1 {
	width: 120px;
	height: 43px;
	border-radius: 7.2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border: solid 2.7px #930194;
	transform: scale(0);
	-webkit-animation: bummer .5s;
	animation: bummer .5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}


@-webkit-keyframes bummer {
	100% {
		-webkit-transform: scale(1,1);
	}
}

@keyframes bummer {
	100% {
		transform: scale(1,1);
	}
}
